@model Administration.ViewModels.ReservationsViewModel
@{
    ViewBag.Title = "Резервации";
}

<hr />
<h2 class="align-center" style="color:lightcoral;">Резервации чакащи обработка</h2>
<hr />
<table id="table_id" class="hover dataTable">
    <thead>
        <tr style="background:lightcoral">
            <th>Имейл на клиент</th>
            <th>Брой места</th>
            <th>Направена на(дата и час)</th>
            <th>Резервирана за(дата и час)</th>
            <th width="40px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.ReservationsForProcessing)
        {
            <tr data-id="@reservation.ReservationId">
                <td>@reservation.CustomerEmail</td>
                <td>@reservation.ChairsNeeded</td>
                <td>@reservation.RegistrationDate</td>
                <td>@reservation.ReservationDateTime</td>
                <td>
                    <span class="glyphicon glyphicon-pencil js-reservation-edit"
                          title="Редактиране"
                          style="color:forestgreen; cursor:pointer;"
                          data-url="@Url.Action("ReservationDetails", "Home", new { reservationId = reservation.ReservationId})">
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h2 class="align-center" style="color:#64d16b">Направени резервации</h2>
<hr />
<table id="table_id2" class="hover dataTable">
    <thead>
        <tr style="background:#64d16b">
            <th>Имейл на клиент</th>
            <th>Брой места</th>
            <th>Направена на(дата и час)</th>
            <th>Резервирана за(дата и час)</th>
            <th width="20px;"></th>
            <th width="20px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.ReadyReservations)
        {
            <tr data-id="@reservation.ReservationId">
                <td class="email">@reservation.CustomerEmail</td>
                <td>@reservation.ChairsNeeded</td>
                <td>@reservation.RegistrationDate</td>
                <td class="reservation-date">@reservation.ReservationDateTime</td>
                <td>
                    <span class="glyphicon glyphicon-pencil js-reservation-edit"
                          title="Редактиране"
                          style="color:forestgreen;cursor:pointer;"
                          data-url="@Url.Action("ReservationDetails", "Home", new { reservationId = reservation.ReservationId})">
                     </span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove js-decline-reservation"
                          title="Отказване на резервация"
                          style="color:red; cursor:pointer;"
                          data-id="@reservation.ReservationId"
                          data-email="@reservation.CustomerEmail"
                          data-reservation-date ="@reservation.ReservationDateTime"
                          data-url="@Url.Action("DeclineReservation", "Home")">
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
